body {
	--wp--preset--color--foreground: #111111;
	--wp--preset--color--background: #f5efe0;
	--wp--preset--color--primary: #111111;
	--wp--preset--color--secondary: #767676;
	--wp--preset--color--subtle-background: #dcd7ca;
	--wp--preset--color--border: #dcd7ca;
	--wp--preset--font-size--small: 0.875rem;
	--wp--preset--font-size--medium: 1rem;
	--wp--preset--font-size--large: 1.25rem;
	--wp--preset--font-size--larger: 1.5rem;
	--wp--preset--font-size--huge: 2.25rem;
	--wp--preset--font-family--noto-serif: 'Noto Serif', serif;
	--wp--preset--font-family--noto-sans: 'Noto Sans', sans-serif;
	--wp--style--global--content-size: 700px;
	--wp--style--global--wide-size: 1200px;
}
