{% extends "base.html" %}
{% block title %}Category: {{ archive_title | default(value="Category") }} &#8211; {{ site_name | default(value="RustPress") }}{% endblock %}
{% block body_class %}archive category category-{{ archive_slug | default(value="uncategorized") }} category-{{ archive_id | default(value=1) }}{% endblock %}
{% block content %}
<header class="archive-header has-text-align-center header-footer-group">
	<div class="archive-header-inner section-inner medium">
		<h1 class="archive-title"><span class="color-accent">Category:</span> <span>{{ term_name | default(value="") }}</span></h1>
		{% if archive_description %}<div class="archive-description">{{ archive_description }}</div>{% endif %}
	</div>
</header>
{% include "archive-posts.html" %}
{% if pagination and pagination.total_pages > 1 %}
<nav class="pagination" role="navigation" aria-label="Posts">
	<hr class="styled-separator is-style-wide section-inner" aria-hidden="true" />
	<div class="section-inner pagination-wrapper">
		{% if pagination.prev_url %}<a class="prev" href="{{ pagination.prev_url }}"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"><path d="M0,9.0027027 L15.2043243,9.0027027 L15.2043243,8.0027027 L0,8.0027027 L0,9.0027027 Z M10.2043243,14 L16.2043243,8.5027027 L10.2043243,3 L10.2043243,14 Z" /></svg>Older posts</a>{% endif %}
		{% if pagination.next_url %}<a class="next" href="{{ pagination.next_url }}">Newer posts<svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"><path d="M0,9.0027027 L15.2043243,9.0027027 L15.2043243,8.0027027 L0,8.0027027 L0,9.0027027 Z M10.2043243,14 L16.2043243,8.5027027 L10.2043243,3 L10.2043243,14 Z" /></svg></a>{% endif %}
	</div>
</nav>
{% endif %}
{% endblock %}
