<footer id="site-footer" class="header-footer-group">
	<div class="section-inner">
		<div class="footer-credits">
			<p class="footer-copyright">&copy; {{ current_year | default(value="2026") }} <a href="{{ site_url | default(value='/') }}">{{ site_name | default(value="RustPress") }}</a></p>
			<p class="powered-by-wordpress"><a href="https://wordpress.org/">Powered by WordPress</a></p>
		</div>
		<a class="to-the-top" href="#site-header">
			<span class="to-the-top-long">To the top <span class="arrow" aria-hidden="true">&uarr;</span></span>
			<span class="to-the-top-short">Up <span class="arrow" aria-hidden="true">&uarr;</span></span>
		</a>
	</div>
</footer>
