<!DOCTYPE html>
<html lang="en-US" class="wp-embed-responsive">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="profile" href="https://gmpg.org/xfn/11" />
<title>{% block title %}{{ site_name | default(value="RustPress") }} &#8211; {{ site_description | default(value="Just another WordPress site") }}{% endblock %}</title>
<meta name='robots' content='max-image-preview:large' />
{% block meta_extra %}{% endblock %}
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="{{ site_name | default(value='RustPress') }} &raquo; Feed" href="{{ site_url | default(value='') }}/feed/" />
<link rel="alternate" type="application/rss+xml" title="{{ site_name | default(value='RustPress') }} &raquo; Comments Feed" href="{{ site_url | default(value='') }}/comments/feed/" />
<style id='wp-emoji-styles-inline-css' type='text/css'>
img.wp-smiley, img.emoji { display: inline !important; border: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0 0.07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0 !important; }
</style>
<link rel='stylesheet' id='wp-block-library-css' href='/static/wp-block-library.css' type='text/css' media='all' />
<link rel='stylesheet' id='global-styles-css' href='/static/style.css' type='text/css' media='all' />
<link rel="https://api.w.org/" href="{{ site_url | default(value='') }}/wp-json/" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="{{ site_url | default(value='') }}/xmlrpc.php?rsd" />
<link rel="pingback" href="{{ site_url | default(value='') }}/xmlrpc.php" />
<link rel="shortlink" href="{{ site_url | default(value='') }}/" />
<link rel="alternate" type="application/json+oembed" href="{{ site_url | default(value='') }}/wp-json/oembed/1.0/embed?url={{ site_url | default(value='') | urlencode }}%2F" />
{{ wp_head | default(value="") | safe }}
{% block head %}{% endblock %}
</head>
<body class="{% block body_class %}home blog{% endblock %} wp-embed-responsive twentytwentyfive-style-default">
<div class="wp-site-blocks">
<a class="skip-link screen-reader-text" href="#wp--skip-link--target">Skip to content</a>

{% include "header.html" ignore missing %}

<div id="wp--skip-link--target"></div>
{% block main %}
<main class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained" style="margin-top:var(--wp--preset--spacing--60)">
{% block content %}{% endblock %}
</main>
{% endblock %}

{% include "footer.html" ignore missing %}
</div>
{{ wp_footer | default(value="") | safe }}
</body>
</html>
