<footer class="wp-block-template-part">
<div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--40)">
<div class="wp-block-group alignwide is-content-justification-space-between is-layout-flex wp-block-group-is-layout-flex" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
<p class="wp-block-site-title"><a href="{{ site_url | default(value='/') }}">{{ site_name | default(value="RustPress") }}</a></p>
<p>Designed with <a href="https://wordpress.org">WordPress</a></p>
</div>
</div>
</footer>
