{% extends "base.html" %}
{% block title %}Protected: {{ the_title }} &#8211; {{ site_name | default(value="RustPress") }}{% endblock %}
{% block body_class %}page{% endblock %}
{% block content %}
<article class="page type-page status-publish hentry"><header class="entry-header"><h1 class="entry-title">Protected: {{ the_title }}</h1></header><div class="entry-content"><div class="post-password-form"><p>This content is password protected. Please enter your password to view it.</p><form action="{{ site_url | default(value='') }}/wp-login.php?action=postpass" method="post"><input type="hidden" name="_wpnonce" value="{{ wpnonce_postpass | default(value='') }}" /><label for="pwbox-{{ post.id | default(value=0) }}">Password: </label><input name="post_password" id="pwbox-{{ post.id | default(value=0) }}" type="password" required><input type="submit" name="Submit" value="Enter"></form></div></div></article>
{% endblock %}
