{% if comments and comments | length > 0 %}
<div id="comments" class="comments-area">
<h2 class="comments-title has-large-font-size">{{ comments | length }} comment{% if comments | length != 1 %}s{% endif %}</h2>
<ol class="comment-list">
{% for comment in comments %}
<li id="comment-{{ comment.id }}" class="comment">
<article class="comment-body">
<footer class="comment-meta">
<div class="comment-author vcard">
<b class="fn">{{ comment.author_name | default(value="Anonymous") }}</b>
</div>
<div class="comment-metadata has-small-font-size">
<time datetime="{{ comment.date_iso | default(value=comment.date) }}">{{ comment.date_formatted | default(value=comment.date) }}</time>
</div>
</footer>
<div class="comment-content entry-content">
{{ comment.content | safe }}
</div>
</article>
</li>
{% endfor %}
</ol>
</div>
{% endif %}

{% if comments_open %}
<div id="respond" class="comment-respond">
<h3 class="comment-reply-title has-large-font-size">Leave a Reply</h3>
<form action="{{ site_url | default(value='') }}/wp-comments-post.php" method="post" id="commentform" class="comment-form">
<input type="hidden" name="_wpnonce" value="{{ wpnonce_comment | default(value='') }}" />
<input type="hidden" name="comment_post_ID" value="{{ post.id | default(value=0) }}" />
<p class="comment-form-author">
<label for="author">Name</label>
<input id="author" name="author" type="text" value="" required>
</p>
<p class="comment-form-email">
<label for="email">Email</label>
<input id="email" name="email" type="email" value="" required>
</p>
<p class="comment-form-comment">
<label for="comment">Comment</label>
<textarea id="comment" name="comment" rows="8" required></textarea>
</p>
<p class="form-submit">
<input name="submit" type="submit" id="submit" class="submit wp-element-button" value="Post Comment">
</p>
</form>
</div>
{% endif %}
