{% extends "base.html" %}

{% block title %}Search Results for &#8220;{{ search_query | default(value="") }}&#8221; &#8211; {{ site_name | default(value="RustPress") }}{% endblock %}
{% block body_class %}search search-results{% endblock %}

{% block content %}
<h1 class="wp-block-query-title">Search results for: &#8220;<span>{{ search_query | default(value="") }}</span>&#8221;</h1>

<form role="search" method="get" action="{{ site_url | default(value='') }}/" class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
<label class="wp-block-search__label screen-reader-text" for="wp-block-search__input-1">Search</label>
<div class="wp-block-search__inside-wrapper"><input class="wp-block-search__input" id="wp-block-search__input-1" placeholder="Type here..." value="{{ search_query | default(value='') }}" type="search" name="s" required /><button aria-label="Search" class="wp-block-search__button wp-element-button" type="submit">Search</button></div>
</form>

{% if posts and posts | length > 0 %}
<div class="wp-block-query alignfull is-layout-flow">
<ul class="alignfull wp-block-post-template is-layout-flow">
{% for post in posts %}
<li class="wp-block-post post-{{ post.id | default(value=0) }} post type-post status-publish format-standard hentry">
<div class="wp-block-group alignfull is-layout-constrained" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">
<h2 class="wp-block-post-title has-x-large-font-size"><a href="{{ post.permalink | default(value='/' ~ post.slug) }}">{{ post.title }}</a></h2>
<div class="entry-content wp-block-post-excerpt">{{ post.excerpt | default(value="") | safe }}</div>
<div class="wp-block-post-date has-small-font-size"><time datetime="{{ post.date_iso | default(value=post.date) }}">{{ post.date_formatted | default(value=post.date) }}</time></div>
</div>
</li>
{% endfor %}
</ul>
</div>
{% else %}
<p>No results found.</p>
{% endif %}
{% endblock %}
